Infomare_drrh_client/WebContent/WSDL/messages/BankAccountRetrieveRequestMsg.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/messages" xmlns:bons0="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes" schemaLocation="../infotypes/VendorAccountData.xsd">
  </xsd:import>
  <xsd:import namespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes" schemaLocation="../infotypes/Vendor.xsd"/>
  <xsd:import namespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes" schemaLocation="../infotypes/MessageHeader.xsd">
  </xsd:import>
  <xsd:complexType name="BankAccountRetrieveRequestMsg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="messageHeader" type="bons0:MessageHeader"/>
      <xsd:element minOccurs="0" name="vendorAccountData" type="bons0:VendorAccountData"/>
      <xsd:element minOccurs="0" name="vendor" type="bons0:Vendor"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>