Infomare_drrh_client/WebContent/WSDL/messages/DocumentReverseRequestMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/messages"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://hr.ibm.fmis.gw.BUFMISBudgetExecution/infotypes/">


  <xsd:import schemaLocation="../infotypes/DocumentHeader.xsd"
    namespace="http://hr.ibm.fmis.gw.BUFMISBudgetExecution/infotypes/">
  </xsd:import>
  <xsd:complexType name="DocumentReverseRequestMsg">
    <xsd:sequence>


      <xsd:element minOccurs="0" name="documentHeader" type="bons0:DocumentHeader"></xsd:element>
      <xsd:element minOccurs="0" name="buFmisDocumentIdToReverse" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>