Infomare_drrh_client/WebContent/WSDL/messages/PaymentExecutionNotificationEventMsg.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/messages" xmlns:bons0="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes" schemaLocation="../infotypes/PaymentExecution.xsd"/>
  <xsd:import namespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes" schemaLocation="../infotypes/MessageHeader.xsd">
  </xsd:import>
  <xsd:complexType name="PaymentExecutionNotificationEventMsg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="messageHeader" type="bons0:MessageHeader"/>
      <xsd:element minOccurs="0" name="paymentExecution" type="bons0:PaymentExecution"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>