Infomare_drrh_client/WebContent/WSDL/infotypes/BudgetStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes">
  <xsd:import schemaLocation="CommitmentItem.xsd" namespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes"></xsd:import>
  <xsd:complexType name="BudgetStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fund" type="xsd:string" />
      <xsd:element name="year" type="xsd:string" />
      <xsd:element minOccurs="0" name="functionalArea" type="xsd:string" />
      <xsd:element minOccurs="0" name="commitmentItem" type="bons0:CommitmentItem" />
      <xsd:element minOccurs="0" name="activity" type="xsd:string" />
      <xsd:element minOccurs="0" name="budgetUser" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>