Infomare_drrh_client/WebContent/WSDL/infotypes/CommitmentItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes">
  <xsd:include schemaLocation="CommitmentItemType.xsd"></xsd:include>
  <xsd:complexType name="CommitmentItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="year" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="description" type="xsd:string"></xsd:element>
      <xsd:element minOccurs="0" name="type" type="bons0:CommitmentItemType"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>