Infomare_drrh_client/WebContent/WSDL/infotypes/Error.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Error">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="target" type="xsd:string"/>
      <xsd:element minOccurs="0" name="value" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>