Infomare_drrh_client/WebContent/WSDL/infotypes/InvoiceStatusNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes">
  <xsd:include schemaLocation="InvoiceStatusType.xsd"></xsd:include>
  <xsd:include schemaLocation="NotificationHeader.xsd"></xsd:include>
  <xsd:complexType name="InvoiceStatusNotification">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="header" type="bons0:NotificationHeader"></xsd:element>
      <xsd:element minOccurs="0" name="invoiceStatus" type="bons0:InvoiceStatusType"></xsd:element>
      <xsd:element minOccurs="0" name="description" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>