Infomare_drrh_client/WebContent/WSDL/infotypes/MessageHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://hr.ibm.fmis.gw.BudgetUserLibrary/infotypes"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="MessageHeader">
    <xsd:sequence>
      <xsd:element name="submitionTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="responseMsgId" type="xsd:long"></xsd:element>
      <xsd:element minOccurs="0" name="eventId" type="xsd:long"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>